// Responsiveness
@include mobile {
  body {
    overflow-x: hidden;
  }

  .section {
    padding: $size-6 $size-7;
  }

  // searchbox

  .navbar-item span {
    display: block;
    overflow: hidden;
    padding: 0 5px 0 0;
  }

  // .navbar-item .control {
  //   width: inherit;
  // }

  #query {
    width: 100%;
  }

  .navbar-item .field .control:first-child {
    width: 90%;
  }

  .navbar-item input {
    width: 100%;
  }

  .footer {
    height: auto;
    padding: $size-6;
    background-color: $grey-lightest;
  }

  .footer .level {
    height: auto;
  }

  .raku.page-content {
    padding: 1rem 0.75rem;
  }

  .tabcontent {
    // overflow-x: auto;
  }

  .tabcontent table td:nth-child(3) {
    word-break: break-word;
  }

  a.raku-anchor,
  .raku-h1 a.raku-anchor, .raku-h2 a.raku-anchor, .raku-h3 a.raku-anchor, .raku-h4 a.raku-anchor, .raku-h5 a.raku-anchor, .raku-h6 a.raku-anchor {
    visibility: visible;
  }

  .navbar-search-autocomplete {
    width: calc(100% - 40px);
    // left: 20px;
    // margin-top: 450px;
  }

  .error-icon {
    position: relative;
    right: 0;

    img {
      display: block;
      margin: 0 auto;
    }
  }

  .error-icon, error-content {
    display: block;
  }

  .error-title,
  .error-content .subtitle {
    text-align: center;
  }

  .error-content .subtitle {
    max-width: unset;
  }

  .error-content {
    .level {
      margin: 5rem auto;
    }
  }

  .navbar.is-fixed-top .navbar-menu, .navbar.is-fixed-top-touch .navbar-menu {
    // height:
    // height: 100%;
    // max-height: unset;
    max-height: calc(100vh - 350px);
  }

  .navbar-search-autocomplete {
    display: block;
    position: static;

  }
}


// TODO: fix on 1280px
// .input, .textarea, .select select {
//     background-color: $white;
//     border-color: $grey;
//     border-radius: 3px;
//     color: $grey-darker;
// }
