// Responsiveness
@include mobile {
  body {
    overflow-x: hidden;
  }

  .section {
    padding: $size-6 $size-7;
  }

  // searchbox

  .navbar-item span {
    display: block;
    overflow: hidden;
    padding: 0 5px 0 0;
  }

  // .navbar-item .control {
  //   width: inherit;
  // }
  .navbar-item .field .control:first-child {
    width: 90%;
  }

  .navbar-item input {
    width: 100%;
  }

  .footer {
    height: auto;
    padding: $size-6;
    background-color: $grey-lightest;
  }

  .footer .level {
    height: auto;
  }

  .raku.page-content {
    padding: 1rem 0.75rem;
  }

  .tabcontent {
    // overflow-x: auto;
  }

  .tabcontent table td:nth-child(3) {
    word-break: break-word;
  }

}

// .input, .textarea, .select select {
//     background-color: $white;
//     border-color: $grey;
//     border-radius: 3px;
//     color: $grey-darker;
// }
