<div class="raku-sidebar-toggle">
  <a class="button is-primary">
    <span class="icon">
      <i class="fas fa-chevron-left is-medium"></i>
    </span>
  </a>
</div>

<div id="mainSidebar" class="raku-sidebar">

      <div class="field">
        <label class="label has-text-centered">Table of Contents</label>
        <div class="control has-icons-right">
          <input id="toc-filter" class="input" type="text" placeholder="Filter">
          <span class="icon is-right has-text-grey">
            <i class="fas fa-search is-medium"></i>
          </span>
        </div>
      </div>
      <div class="raku-sidebar-body">

          {{{toc}}}

      </div>

    </div>


<div id="wrapper">
  <section class="raku page-header">
    <div class="container px-4">
      <div class="raku page-title has-text-centered">{{{ title }}}</div>
      <div class="raku page-subtitle has-text-centered">{{{ subtitle }}}</div>

      <div class="page-edit">
        <a class="button page-edit-button" href="{{{editURL}}}" title="Edit this page.">
          <span class="icon is-right">
            <i class="fas fa-pen-alt is-medium"></i>
          </span>
        </a>
      </div>
    </div>
  </section>

  <section class="raku page-content">
    <div class="container px-4">
      {{#body}}{{{ . }}}{{/body}}
    </div>
  </section>

  <section class="page-footnotes">
    <div class="container">
        {{{footnotes}}}
    </div>
  </section>

  <section class="page-generated">
    <div class="container has-text-centered">
      <p>
        Generated from
        <a href="{{podPath}}">{{prettyPodPath}}</a>
      </p>
    </div>
  </section>

</div>
<!-- Wrapper ends -->
