html {
  background: #fafafa; }

body {
  background: #fafafa;
  color: #030303; }

.navbar-logo-tm {
  color: black; }

/* Site header */
.navbar {
  background: #f2f2f2;
  border-bottom: 1px solid #d9d9d9; }

.navbar a {
  color: #004FB3; }

.navbar a:hover {
  color: #004FB3; }

a.navbar-item:hover {
  background: #e5e5e5; }

.navbar-item.has-dropdown:focus .navbar-link, .navbar-item.has-dropdown:hover .navbar-link, .navbar-item.has-dropdown.is-active .navbar-link {
  background-color: #e5e5e5; }

.navbar-dropdown {
  background-color: #f2f2f2;
  border-top: 2px solid #cccccc; }

.navbar-link:not(.is-arrowless)::after {
  border-color: #004FB3; }

.navbar-divider {
  background-color: #fafafa; }

.navbar-menu {
  background-color: #f2f2f2; }

.navbar-dropdown a.navbar-item:focus, .navbar-dropdown a.navbar-item:hover,
a.navbar-item:focus-within, a.navbar-item.is-active, .navbar-link:focus, .navbar-link:focus-within, .navbar-link:hover, .navbar-link.is-active {
  background-color: #e5e5e5;
  color: #030303; }

.navbar-search-autocomplete {
  background-color: #f5f5f5;
  box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.07);
  border: 1px solid #cccccc; }
  .navbar-search-autocomplete li {
    padding: 8px 5px; }
    .navbar-search-autocomplete li:hover {
      background-color: #e8e8e8; }
  .navbar-search-autocomplete li.ui-autocomplete-category {
    color: #A30031; }
    .navbar-search-autocomplete li.ui-autocomplete-category:hover {
      background-color: unset; }

a {
  color: #004FB3; }

a:hover {
  color: #002d67; }

.button.is-primary {
  background-color: #004FB3 !important; }

.button.is-primary:hover {
  background-color: #003880 !important; }

.label {
  color: #3A3D4E; }

.input, .textarea, .select select {
  background-color: #fafafa;
  border-color: #cccccc;
  color: #030303; }

.input:hover, .textarea:hover, .select select:hover, .is-hovered.input, .is-hovered.textarea, .select select.is-hovered {
  border-color: #d8d8d8; }

.input:focus, .textarea:focus, .select select:focus, .is-focused.input, .is-focused.textarea, .select select.is-focused, .input:active, .textarea:active, .select select:active, .is-active.input, .is-active.textarea, .select select.is-active {
  border-color: #004FB3; }

.select:not(.is-multiple):not(.is-loading)::after {
  border-color: #004FB3; }

.select:not(.is-multiple):not(.is-loading):hover::after {
  border-color: #004FB3; }

/* Site footer */
.footer {
  background: #f2f2f2;
  border-top: 1px solid #d9d9d9; }

.has-text-primary {
  color: #004FB3 !important; }

.has-text-dark {
  color: #3A3D4E !important; }

.has-text-danger {
  color: #A30031 !important; }

.has-text-danger:hover {
  color: #A30031 !important; }

a.has-text-red, a.has-text-red:hover {
  color: #A30031; }

.button.is-link {
  background-color: #004FB3; }

.button.is-link:hover {
  background-color: #002d67; }

strong {
  color: black; }

.raku.links-block .head {
  color: #83858D; }

.raku.links-block a {
  color: #004FB3; }
  .raku.links-block a:hover {
    color: #003880; }

/* Hopepage title */
.hero-body {
  background: linear-gradient(180deg, #051A33 0.2%, #3F103A 1%, #9F0046 82.29%, #B3004F 100%);
  mix-blend-mode: normal; }

/* Raku page template */
.raku.page-title {
  color: #A30031; }

.raku.page-header .page-edit {
  color: #83858D; }
  .raku.page-header .page-edit .page-edit-button {
    background: #f5f5f5;
    color: black;
    border-color: #cccccc; }
    .raku.page-header .page-edit .page-edit-button:hover {
      background: #f2f2f2; }

/* Raku search page */
.raku-search .search-category {
  background: #f5f5f5;
  border: 1px solid #cccccc;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.07);
  color: #030303; }

.raku-search .search-match {
  background: #EED891; }

.raku-search .search-category-title {
  color: #A30031;
  border-bottom: 1px solid #cccccc; }

/* Categories */
.raku-category.category-block {
  border: 1px solid #cccccc;
  border-bottom: 5px solid #d9d9d9;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.07); }

.raku-category .category-header {
  background: #f2f2f2;
  border-bottom: 1px solid #cccccc;
  color: #83858D; }

.raku-category .category-item:not(:last-child) {
  border-bottom: 1px solid #cccccc; }

/* Programs page template */
.raku-programs .programs-item-title {
  border-bottom: 1px solid #cccccc; }

/* Raku headings */
.raku-h1 {
  background: #f2f2f2;
  border: 1px solid #cccccc;
  border-bottom: 3px solid #A30031;
  color: #A30031; }

.raku-h2 {
  border-bottom: 3px solid #A30031;
  color: #A30031; }

.raku-h3 {
  color: #A30031; }

.raku-h4 {
  color: #A30031; }

.raku-h5 {
  color: #A30031; }

.raku-h6 {
  color: #A30031; }

.raku-h1 a, .raku-h2 a, .raku-h3 a, .raku-h4 a, .raku-h5 a, .raku-h6 a {
  color: #A30031; }

.raku-h1 code, .raku-h2 code, .raku-h3 code, .raku-h4 code, .raku-h5 code, .raku-h6 code {
  color: unset; }

.raku-h1 a:hover, .raku-h2 a:hover, .raku-h3 a:hover, .raku-h4 a:hover, .raku-h5 a:hover, .raku-h6 a:hover {
  color: #004FB3; }

.raku-anchor {
  color: #3A3D4E; }

a.raku-anchor:hover {
  color: #004FB3; }

a.raku-anchor,
.raku-h1 a.raku-anchor, .raku-h2 a.raku-anchor, .raku-h3 a.raku-anchor, .raku-h4 a.raku-anchor, .raku-h5 a.raku-anchor, .raku-h6 a.raku-anchor {
  color: black; }
  a.raku-anchor:hover,
  .raku-h1 a.raku-anchor:hover, .raku-h2 a.raku-anchor:hover, .raku-h3 a.raku-anchor:hover, .raku-h4 a.raku-anchor:hover, .raku-h5 a.raku-anchor:hover, .raku-h6 a.raku-anchor:hover {
    color: #004FB3; }

.raku-h1:hover a.raku-anchor, .raku-h2:hover a.raku-anchor, .raku-h3:hover a.raku-anchor, .raku-h4:hover a.raku-anchor, .raku-h5:hover a.raku-anchor, .raku-h6:hover a.raku-anchor {
  visibility: visible; }

/* Version note */
.raku.version-note {
  background: #f2f2f2;
  border: 1px solid #cccccc;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.07); }

.version-note-header {
  color: #A30031; }

.table {
  background-color: #fafafa;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.07);
  color: black; }

.table thead td, .table thead th {
  color: #3A3D4E; }

.table td, .table th {
  border: 1px solid #cccccc; }

.card {
  color: #030303;
  background-color: #fafafa; }

.raku-about .card {
  border: 1px solid #e5e5e5;
  border-bottom: 3px solid #e5e5e5;
  box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.07); }

.raku.tabs {
  background: #f5f5f5;
  border: 1px solid #cccccc;
  border-bottom: unset;
  color: #030303; }
  .raku.tabs ul {
    border-color: #cccccc; }
  .raku.tabs a {
    color: #030303; }
  .raku.tabs.is-boxed a:hover {
    background-color: #3A3D4E;
    color: black; }
  .raku.tabs.is-boxed a {
    border-right: 1px solid #cccccc; }
  .raku.tabs.is-boxed li.is-active a {
    background: #fafafa;
    color: black;
    border-top: 1px solid transparent;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc; }

p > code {
  background-color: #f2f2f2;
  border: 1px solid #e5e5e5; }

.raku-sidebar {
  background-color: #f2f2f2;
  border-right: 1px solid #cccccc;
  border-bottom: 3px solid #cccccc; }
  .raku-sidebar .input::placeholder, .raku-sidebar .textarea::placeholder, .raku-sidebar .select select::placeholder {
    color: black; }
  .raku-sidebar .menu-list ::marker {
    color: #A30031; }
  .raku-sidebar .menu-list li ul {
    border-left: 1px solid #cccccc; }
  .raku-sidebar .menu-list a {
    color: #030303; }
    .raku-sidebar .menu-list a:hover {
      background: #d8d8d8; }
    .raku-sidebar .menu-list a.is-active {
      color: #f7f7f7; }
      .raku-sidebar .menu-list a.is-active:hover {
        background: #004FB3; }

.raku-sidebar.category-sidebar li a.is-active {
  background-color: #d8d8d8;
  border-left: 3px solid #004FB3; }

.raku-sidebar.category-sidebar a.is-active {
  color: #030303; }
  .raku-sidebar.category-sidebar a.is-active:hover {
    background: #d8d8d8; }

a > code {
  color: #004FB3; }

code {
  background-color: #f2f2f2;
  color: #A30031; }

.raku-code {
  border-bottom: 3px solid #cccccc;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.07);
  border: 1px solid #cccccc; }
  .raku-code .code-button {
    background: #004FB3;
    color: #fafafa;
    border: #cccccc; }
  .raku-code .code-name {
    color: #A30031; }
  .raku-code .code-output {
    background: #f5f5f5;
    border-top: 1px solid #cccccc; }
  .raku-code .code-output-title {
    border-bottom: 1px solid #cccccc;
    color: #A30031; }
  .raku-code pre {
    background-color: #fafafa;
    color: #030303; }

.hero.error-page .hero-body {
  background: #fafafa; }

.error-icon .icon {
  color: #030303; }

.hero .error-title {
  color: #A30031; }
