// UI Sidebar module
@import "../themes/themes-colors";
// @import "../themes/colors-variables";
// @import "../node_modules/bulma/sass/elements/icon.sass";

$sidebar-z: 25 !default;
$sidebar-header-height: 3.25em !default;
$sidebar-footer-height: 4rem !default;
$sidebar-shadow: 1px 2px 2px 0px rgba( 0, 0, 0, 0.25 ) !default;
$sidebar-divider: 1px solid $grey-lighter !default;

.raku-sidebar {
  // display: flex;
  // flex-direction: column;
  // background-color: $grey-lightest;
  max-width: calc(100% - 50px);
  &.is-marginless {
    max-width: 100%;
  }
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: $sidebar-z;
  overflow-x: hidden; // Disable horizontal scroll
  // transform: tranlateZ (0);
  transition: width 1s ease;
  backface-visibility: hidden;
  // perspective: 1000;
  // will-change: transforn;

  height: 100%;
  width: 300px;
  padding: 1.25rem;
  padding-top: 5rem;

  // border-right: 1px solid $grey;
  // border-bottom: 3px solid $grey;
  // box-shadow: $sidebar-shadow; // delete

  +mobile {
    width: 100%;
    right: -100%;
  }
  +tablet {
    width: 50%;
    right: -50%;
  }
  +desktop {
    width: 35%;
    right: -35%;
  }
  +widescreen {
    width: 30%;
    right: -30%;
  }
  +fullhd {
    width: 25%;
    right: -25%;
  }
  &.is-left {
    +mobile {
      left: -100%;
    }
    +tablet {
      left: -50%;
    }
    +desktop {
      left: -35%;
    }
    +widescreen {
      left: -30%;
    }
    +fullhd {
      left: -25%;
    }
    &.is-active {
      right: 0;
      box-shadow: $sidebar-shadow;
      &.is-left {
        left: 0;
      }
    }
  }
}

.raku-sidebar .menu {
  // overflow-x: hidden;
}

.raku-sidebar .menu-list {
  font-size: 0.875rem;
  list-style: disc outside;
  padding-left: 10px;
}


// .raku-sidebar .menu > ul.menu-list > li {
//   font-weight: bold;
// }

.raku-sidebar .menu-list ::marker {
  font-size: 0.75em;
}

.raku-sidebar .menu-label,
.raku-sidebar .menu-label:not(:last-child) {
  margin-bottom: 0.75em;
}

.raku-sidebar-body .menu-label {
  font-weight: $weight-semibold;
}

.raku-sidebar-toggle {
  z-index: 20;
  position: fixed;
  top: 125px;
  left: 295px;

  box-shadow: 1px 2px 2px 0px rgba( 0, 0, 0, 0.25 );
}

.raku-sidebar.category-sidebar {
  padding: 0.5rem;
  padding-top: 5rem;

  .menu-list {
    list-style: none;
    padding-left: 0px;

    a {
      margin: 0.25rem 0;
      padding: 1em 0.75em;
      border-radius: 3px;
      // border-bottom: 1px solid grey;
    }

    li a.is-active {
      font-weight: $weight-bold;
    }
  }
}

.raku-sidebar.category-sidebar .menu-list ::marker {
  font-size: 0;
}
