// Custom SCSS

// Titles
h1,h2,h3,h4,h5,h6 {
  font-family: $family-secondary;
}

.button, .title {
  font-family: $family-secondary;
}

.card .button {
  width: 200px;
}


 // Common parts
// html, body {
//   height: 100%;
// }

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


#wrapper {
  flex: 1 0 auto;
}


/* Site header */
.navbar {
  background: $grey-lightest;
  border-bottom: 1px solid $grey-light;
}

.navbar-brand .navbar-item img {
  max-height: 100%;
}

/* Resize search box */
.navbar-item input {
  width: 200px;
}

.navbar-item .button, .navbar-item input {
  height: 1.85em;
}

.navbar-search {
  height: 30px;
}

.navbar > .container {
  margin: 0 auto;
  max-width: 1140px;
  padding-left: 1rem;
  padding-right: 1rem;
}

// .navbar-brand .navbar-item::after {
//   content: "tm";
//   font-size: $size-7;
//   color: $grey-darker;
// }

.navbar-logo {
  position: relative;
}

.navbar-logo-tm {
  position: absolute;
  z-index: 35;
  top: 0.35rem;
  right: -0.35rem;
  font-size: $size-7;
  color: $grey-darker;
}


// Site footer
.footer {
  height: 50px;
  padding: 0;
  border-top: 1px solid $grey-light;
}

.footer .level {
  height: 50px;
}

.footer-content {
  max-width: 1000px;
  margin: 0 auto;
}

.footer a:hover {
  text-decoration: underline;
}

.hero-body {
  background: linear-gradient(180deg, #051A33 0.2%, #3F103A 1%, #9F0046 82.29%, #B3004F 100%);
  mix-blend-mode: normal;
}

.icon-large {
  font-size: 96px;
}


// Custom classes
.has-background-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.raku.links-block {
  .title {
    font-family: $family-secondary;
    font-size: $size-6;
    font-weight: $weight-bold;
    color: $white;
    }

    a {
      font-family: $family-secondary;
      font-size: $size-6;
      font-weight: $weight-bold;

      color: $white;
      &:hover {
        color: $yellow;
      }
    }


    li {
      margin-bottom: 0.5rem;
    }
}


// Raku page template
.raku.page-title,
.raku.page-subtitle {
  font-family: $family-secondary;
}

.page-generated {
  padding: $size-7;
}

.raku.page-title {
  font-size: $size-4;
  color: $red;
  font-weight: $weight-semibold;
}

.raku.page-subtitle {
  font-size: $size-6;
}

.raku.page-header {
  margin-top: $size-6;
}

.raku.page-header,
.raku.page-content {
  padding: 1rem 1.5rem;
}

// Raku search page
.raku-search {
  .search-category {
    border: 1px solid $grey;
    box-shadow: 0px 2px 3px 0px rgba( 0, 0, 0, 0.07 );
  }

  .search-item {
    margin-top: $size-5;
    margin-bottom: $size-5;
  }

  .search-match {
    background: $yellow;
  }

  .search-item-title {
    font-weight: $weight-medium;
    margin-bottom: 0.25rem;
  }

  .search-category-title {
    font-weight: $weight-medium;
    color: $red;
    padding-bottom: $size-7;
    border-bottom: 1px solid $border;
  }
}

// Categories
.raku-category.category-block {
    border: 1px solid $border;
    border-bottom: 5px solid $grey-lighter;
    box-shadow: 0px 2px 3px 0px rgba( 0, 0, 0, 0.07 );
    margin-bottom: $size-5;

}

.raku-category {

  .category-header {
    background: $grey-lightest;
    border-bottom: 1px solid $border;
    color: $grey-dark;
    padding: 0.35rem;
  }

  .category-items {
    padding-top: 0.25rem;
    padding-bottom: $size-7;
  }

  .category-item {
    font-weight: $weight-medium;
    padding: $size-6 $size-3;
    border-bottom: 1px solid $border;
  }

  .category-item-title {
    margin-bottom: 0.25rem;
  }
}

// Raku page headings
.raku-anchor {
  // visibility: hidden;
  font-size: 0.9em;
  color: $grey-darker;
  text-decoration: none;
}

.raku-h1 {
  background: $grey-lightest;
  border: 1px solid $border;
  border-bottom: 3px solid $red;
  color: $red;
  font-size: 1.375rem; // 22px
  font-weight: $weight-medium;
  padding: 0.35rem;
  text-align: center;
  margin-bottom: 1rem;
}


.raku-h2 {
  border-bottom: 3px solid $red;
  color: $red;
  font-size: 1.375rem; // 22px
  font-weight: $weight-medium;
  padding: 0.25rem;
  margin-bottom: 1rem;
}

.raku-h3 {
  color: $red;
  font-size: $size-5; // 20px
  font-weight: $weight-medium;
  margin-bottom: 1rem;
}

.raku-h4 {
  color: $red;
  font-size: $size-6;
  font-weight: $weight-medium;
  margin-bottom: 1rem;
}

.raku-h5 {
  color: $red;
  font-size: 0.875rem;
  font-weight: $weight-medium;
  margin-bottom: 1rem;
}

.raku-h6 {
  color: $red;
  font-size: $size-7;
  font-weight: $weight-semibold;
  margin-bottom: 1rem;
}

// Version note
.raku.version-note {
  margin: $size-6 0;
  padding: $size-5;
  background: $grey-lightest;
  border: 1px solid $border;
  box-shadow: 0 2px 3px 0 rgba( 0, 0, 0, 0.07 );
}

.version-note-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  line-height: 1.25;
  padding-bottom: 0.5em;
  position: relative;
}

.version-related-to {
  position: absolute;
  right: $size-6;
}

.version-note-header {
  color: $red;
  font-weight: $weight-medium;
}

table {
  box-shadow: 0 2px 3px 0 rgba( 0, 0, 0, 0.07 );
}

table.centered {
    margin-left:auto;
    margin-right:auto;

}

// About page
.raku-about .card {
  margin: $size-5 0;
  border: 1px solid $grey-lighter;
  border-bottom: 3px solid $grey-lighter;
  box-shadow: 1px 2px 2px 0px rgba( 0, 0, 0, 0.07 );
  // box-shadow: unset;
  border-radius: 3px;
}

.raku-about.minor-list {
  li {
    margin: $size-7 0;

  }
}

.raku-about-major .user-info,
.raku-about-minor .user-info {
  margin-bottom: 0.25rem;
}


// .raku-about .card-content {
//   background-color: $white;
// }

// Workaround

// @include mobile {
//   // to fix 'too wide' bug on mobile
//   .columns {
//     margin-left: 0;
//     margin-right: 0;
//   }
// }
