// Support for color themes
$theme-default: light;
// $theme-current: light;
$theme-code-default: light;
// $theme-code-current: dark;

$themes: (
  light: (
    bg: white,
    bg2: white,
    bg3: white,
    popup: white,
    fg: black,
    fg-dim: black,
    fg-test: black,
    heading: green,
    heading-mono: green,
    link: skyblue,
    link-visited: skyblue,
    link-hover: skyblue,
    border: black,
    border-light: black,
    border-dark: black,
    button-bg: blue,
    button-fg: white,
    button-hover-bg: blue,
    button-hover-fg: blue,
  ),
  dark: (
    bg: black,
    fg: white,
    headings: yellow,
    links: skyblue;
    border: grey;
  ),
);

@function getThemeValue($value) {
  $theme-map: map-get($themes, $theme-current);
  @return map-get($theme-map, $value);
}
