// Raku code highlighting
@import "./initial-variables";

$code-background: #fafafa;
$code-foreground: #030303;

$code-callable-color: #005C43;
$code-comment-color:  #6D4F4B;
$code-keyword-color:  #223B9E;
$code-number-color:   #1C6301;
$code-operator-color: #C01823;
$code-string-color:   #004FB3;
$code-type-color:     #A3004F;
$code-variable-color: #5503B3;

.raku-code {
  border: 1px solid $border;
  border-bottom: 3px solid $border;

  .code-name {
    padding-top: $size-7;
    padding-left: $size-5;
    color: $red;
    font-weight: $weight-medium;
  }

  .code-button {
    position: absolute;
    top: $size-7;
    right: $size-5;
    background: $grey-lightest;
    height: 2em;
  }

  .code-output {
    font-size: $size-7;
    font-family: $family-monospace;
    padding: $size-7 $size-5;
    border-top: 1px solid $border;
    background: $grey-lightest;
  }

  .code-output-title {
    font-size: $size-6;
    font-weight: $weight-medium;
    border-bottom: 1px solid $border;
    color: $red;
    padding: 0.25rem 0;
    margin-bottom: 0.5rem;
  }

  pre {
    background-color: $code-background;
    color: $code-foreground;
  }

  .code-callable {
    color: $code-callable-color;
  }
  .code-comment {
    color: $code-comment-color;
  }
  .code-keyword {
    color: $code-keyword-color;
  }
  .code-number {
    color: $code-number-color;
  }
  .code-operator {
    color: $code-operator-color;
  }
  .code-string {
    color: $code-string-color;
  }
  .code-type {
    color: $code-type-color;
  }
  .code-variable {
    color: $code-variable-color;
  }
}
