// Common theme colors

$black:         #030303;
$black-bis:     #1B1D1E;
$black-ter:     #212426;

$grey-darker:   #3A3D4E;
$grey-dark:     #83858D;
$grey:          #cccccc;
$grey-light:    #d8d8d8;
$grey-lighter:  #e5e5e5;
$grey-lightest: #f2f2f2;

$white-ter:     #f5f5f5;
$white-bis:     #f7f7f7;
$white:         #fafafa;

$orange:       hsl(14,  100%, 53%);
$yellow:       #EED891;
$green:        #1C6301;
$turquoise:    #005C43;
$cyan:         hsl(204, 71%,  53%);
$blue:         #004FB3;
$purple:       #5503B3;
$red:          #A30031;
